{% extends 'bootstrap/base.html'%}

{% block navbar %}
<div class="banner-body">
<div class="header">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="#"><span>R</span>ally</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                <li class="hvr-bounce-to-bottom active"><a href="">Home</a></li>
                <li class="hvr-bounce-to-bottom"><a href="/contact">Contact Us</a></li>
                {% if current_user.is_authenticated %}
                <li class="hvr-bounce-to-bottom"><a href="{{url_for('about')}}">Blog Posts</a></li>
                <li class="hvr-bounce-to-bottom"><a href="/use">New Post</a></li>
                <li class="hvr-bounce-to-bottom"><a href="{{url_for('profile')}}">Account</a></li>
                <li class="hvr-bounce-to-bottom"><a href="/update_profile">Update Profile</a></li>
                <li class="hvr-bounce-to-bottom"><a href="{{url_for('auth.logout')}">Logout</a></li>
              </ul>
              {% else %}
              <div class="sign-in">
                <ul>
                    <li><a href="{{url_for('auth.login')}}">Sign In </a>/</li>
                    <li><a href="{{url_for('auth.register')}}">Register</a></li>
                </ul>
                {%endif%}
                </div>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</div>
</div>

    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style5.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/swipebox.css')}}">
    {% endblock %}

    {% block scripts%}
    {{ super() }}    
    <script src="{{url_for('static',filename='js/jquery.flexisel.js')}}"></script>
    <script src="{{url_for('static',filename='js/responsiveslides.min.js')}}"></script>
    {% endblock %}

    {% block head%}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Grenze+Gotisch:wght@800&family=New+Rocker&display=swap" rel="stylesheet">
    {% endblock %}



    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Rally blog for Devs </title>
    {% endif %}

{% endblock %}
