{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro%}

{% block content %}

<div class="container">
    <div class="row under-nav">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{title}}</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!--post-->
                <div class="col-xs-12 col-sm-7">
                    <div class="card card-post">
                        <div class="card-body">
                            <img class="card-img-top" src="{{url_for('static',filename=post.post_pic_path)}}" alt="Profile picture">
                            <h4 class="card-title">{{post.title | upper}}</h4>                   
                            <h5 class="card-subtitle mb-2 text-muted">{{post.posted.strftime("%d %b %Y %I:%M %p")}}</h5>
                            <p class="card-text">{{post.text}}</p>  
                            {% if current_user.is_authenticated %} 
                                <button class="btn btn-primary"><a href="{{(url_for('main.update_blog', post_id=post.id))}}">Update</a></button> 
                                <button class="btn btn-danger"><a href="{{(url_for('main.delete_blog', post_id=post.id))}}">Delete</a></button>   
                            {% endif %}
                            <div class="row under-nav"></div>                                  
                        </div>
                    </div>
                </div>
                <div class="col-xs-0 col-sm-1"></div>
                <!--comments-->
                <div class="col-xs-12 col-sm-4 jumbotron jumbo-comments">
                    <div class="row">
                        <div class="col-xs-12 mb-4">
                            {{ wtf.quick_form(comment_form) }}
                        </div>
                        <div class="col-xs-12">
                            <h3><b>Comments</b></h3>                            
                            <div class="row">
                                {% if current_user.is_authenticated %} 
                                    {{macro.displayCommentsUser(comments)}}
                                {% else %}
                                    {{macro.displayComments(comments)}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>       
    </div>
</div>


{% endblock %}